html, body {
	overflow: hidden;
}

#Map {
	height: calc(100vh - 70px);
	width: calc(100vw);
	z-index: 5; /* behind user dropdown menu */
}

/* Zoom control buttons */

.leaflet-control-zoom {
	border: none !important;
}

.leaflet-control-zoom a {
	padding: 0;
	background: var(--background-color);
	border: var(--border-width) solid var(--border-color) !important;
	color: var(--color);
}

.leaflet-control-zoom a:hover {
	background-color: var(--primary-hover);
	border-color: var(--primary-hover);
	color: var(--primary-inverse);
}

.leaflet-control-zoom-in {
	border-radius: var(--border-radius) var(--border-radius) 0 0 !important;
}

.leaflet-control-zoom-out {
	border-radius: 0 0 var(--border-radius) var(--border-radius) !important;
}
