.flashes article {
	border: var(--border-width) solid var(--border-color);
}

.flashes .message {
	--border-color: var(--primary);
}

.flashes .error {
	--border-color: #b71c1c;
}

.avatar {
	--size: 128px;
	max-width: var(--size);
	max-height: var(--size);
	width: auto;
	height: auto;
}

.headerNav .avatar {
	--size: 24px;
	margin-right: 8px;
}
