{% extends "_base.html" %}
{% block title %}Import{% endblock %}
{% block body %}
    <main class="container">
        <article>
            <header>Home Assistant</header>

            {% if current_user.ha_instance and current_user.ha_token and current_user.ha_entity %}
                <form action="" method="POST">
                    <label>
                        Start<br>
                        <small>Leave empty to start at time of last report</small>
                        <input type="datetime-local" name="start">
                    </label>

                    <label>
                        End<br>
                        <small>Leave empty to import until last available record</small>
                        <input type="datetime-local" name="end">
                    </label>

                    <button type="submit" name="hass" value="import">Import</button>
                </form>
            {% else %}
                <p>
                    Connect to Home Assistant from your
                    <a href="{{ url_for('users.profile') }}#hass">profile</a>.
                </p>
            {% endif %}
        </article>

        <article>
            <header>Google Location History</header>

            <form action="" method="POST" enctype="multipart/form-data">
                <ol>
                    <li>Open <a href="https://takeout.google.com/" target="_blank">Google Takeout</a>.</li>
                    <li>Scroll down to "Create a new export".</li>
                    <li>Click "Deselect all".</li>
                    <li>Scroll down and check the box for "Location History".</li>
                    <li>Scroll to the bottom and click "Next step".</li>
                    <li>
                        Set the following options:
                        <ul>
                            <li><b>Transfer to:</b> Send download link via email</li>
                            <li><b>Frequency:</b> Export once</li>
                            <li><b>File type:</b> .tgz</li>
                            <li><b>File size:</b> 50 GB</li>
                        </ul>
                    </li>
                    <li>Click "Create export".</li>
                    <li>You will receive an email when the export completes.
                        Download the file from the link in that message, then upload the file below.
                    </li>
                </ol>

                <label>
                    Google Takeout archive
                    <input type="file" name="google_location_history" required accept=".tgz">
                </label>

                <button type="submit">Import</button>
            </form>
        </article>
    </main>
{% endblock %}
