<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %} | Traxor</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/pico.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-grid.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	{% block head %}{% endblock %}
</head>
<body>
<nav class="container-fluid headerNav">
	<ul>
		<li><a href="/" class="contrast"><strong>Traxor</strong></a></li>

		{% if current_user.is_authenticated %}
			<li><a href="{{ url_for('root.map_view') }}">Map</a></li>
			<li><a href="{{ url_for('users.user_list') }}">Users</a></li>
			<li><a href="{{ url_for('places.place_list') }}">Places</a></li>
			<li><a href="{{ url_for('records.import_view') }}">Import</a></li>
		{% endif %}
	</ul>

	{% block nav %}{% endblock %}

	{% if current_user.is_authenticated %}
		<ul>
			<li>
				<details role="list" dir="rtl">
					<summary aria-haspopup="listbox" role="link">
						<img class="avatar" src="{{ url_for('users.avatar', username=current_user.username) }}"
						     alt="Avatar">
						{{ current_user.username }}
					</summary>
					<ul role="listbox">
						<li><a href="{{ url_for('users.profile') }}">Profile</a></li>
						<li><a href="{{ url_for('auth.logout') }}">Log out</a></li>
					</ul>
				</details>
			</li>
		</ul>
	{% endif %}
</nav>

{% with messages = get_flashed_messages(with_categories=True) %}
	{% if messages %}
		<section class="flashes container">
			{% for category, message in messages %}
				<article class="{{ category }}">{{ message }}</article>
			{% endfor %}
		</section>
	{% endif %}
{% endwith %}
{% block body %}{% endblock %}
</body>
</html>
