{% extends "_base.html" %}

{% block title %}Map{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='leaflet/leaflet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
    <link id="RecordsURL" rel="x-records" href="{{ url_for('records.get_records') }}">
{% endblock %}

{% block nav %}
    <form class="row my-0" id="MapSettings">
        <div class="col py-1">
            <input type="datetime-local" name="start" class="mb-0" aria-label="Start">
        </div>
        <div class="col-auto pt-3">to</div>
        <div class="col py-1">
            <input type="datetime-local" name="end" class="mb-0" aria-label="End">
        </div>
        <div class="col py-1 d-flex align-items-end pb-1">
            <button type="submit" class="mb-0">Apply</button>
        </div>
    </form>
{% endblock %}

{% block body %}
    <div id="Map"></div>
    <script src="{{ url_for('static', filename='leaflet/leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
{% endblock %}
