{% extends "_base.html" %}
{% block title %}Log in{% endblock %}
{% block body %}
	<main class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
				<article>
					<header>Log in</header>

					<form action="{{ url_for('auth.login_form') }}" method="POST">
						<label>
							Username
							<input type="text" name="username" required/>
						</label>

						<label>
							Password
							<input type="password" name="password"/>
						</label>

						<button type="submit">Log in</button>
					</form>
				</article>
			</div>
		</div>
	</main>
{% endblock %}
