{% extends "_base.html" %}
{% block title %}Users{% endblock %}
{% block body %}
    <main class="container">
        <article>
            <header>Users</header>

            <table class="usersTable">
                <thead>
                <tr>
                    <th scope="row">ID</th>
                    <th scope="row" style="text-align: center;">Avatar</th>
                    <th scope="row">Username</th>
                    <th scope="row">Location reports</th>
                    <th scope="row">Places</th>
                    <th scope="row">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td style="text-align: center;">
                            <img src="{{ url_for('users.avatar', username=user.username) }}"
                                 alt="{{ user.username }}'s avatar" class="avatar"/>
                        </td>
                        <td>{{ user.username }}</td>
                        <td>{{ "{:,}".format(user.location_reports.count()) }}</td>
                        <td>{{ "{:,}".format(user.places.count()) }}</td>
                        <td>
                            {% if user.id != current_user.id %}
                                <form action="" method="POST">
                                    <input type="hidden" name="user_id" value="{{ user.id }}">
                                    <button type="submit" name="action" value="delete" class="outline secondary"
                                            onclick="return confirm('Are you sure you want to delete {{ user.username }} and all of their location history?')">
                                        Delete
                                    </button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </article>

        <article>
            <header>Add user</header>

            <form action="" method="POST">
                <label>
                    Username
                    <input type="text" name="username" value="{{ current_user.username }}" required autocomplete="off">
                </label>

                <label>
                    Password
                    <input type="password" name="password" required autocomplete="new-password">
                </label>

                <button type="submit" name="action" value="add">Add</button>
            </form>
        </article>
    </main>
{% endblock %}
