{% extends "_base.html" %}
{% block title %}Profile{% endblock %}
{% block body %}
	<main class="container">
		<article>
			<div class="row">
				<div class="col-sm-5">
					<form action="" method="POST" enctype="multipart/form-data">
						<label>
							<img src="{{ url_for('.avatar', username=current_user.username) }}" alt="Avatar">
							<input type="file" name="avatar">
						</label>
						<button type="submit">Upload</button>
						{% if current_user.avatar %}
							<button type="submit" class="secondary" name="action" value="clear_avatar">Clear</button>
						{% endif %}
					</form>
				</div>
				<div class="col-sm-7">
					<form action="" method="POST">
						<label>
							Username
							<input type="text" name="username" value="{{ current_user.username }}" required>
						</label>

						<label>
							New password
							<input type="password" name="password" placeholder="(unchanged)">
						</label>

						<button type="submit">Save</button>
					</form>
				</div>
			</div>
		</article>

		<article id="hass">
			<header>Home Assistant</header>

			<form action="" method="POST">
				<label>
					Instance URL
					<input type="url" name="ha_instance" value="{{ current_user.ha_instance or "" }}" required
						   placeholder="http://homeassistant.local:8123">
				</label>

				<label>
					Long-lived access token
					<input type="password" name="ha_token"
						   placeholder="{% if current_user.ha_token %}(unchanged){% endif %}">
				</label>

				<label>
					Entity ID
					<input type="text" name="ha_entity" value="{{ current_user.ha_entity or "" }}"
						   placeholder="device_tracker.your_phone" required>
				</label>

				<button type="submit">Save</button>
			</form>
		</article>

		<article>
			<header>OwnTracks</header>

			<p><b>Mode:</b> HTTP</p>
			<p><b>Host:</b>
				<mark>{{ url_for('owntracks.report', _external=True) }}</mark>
			</p>
			<p><b>Username:</b>
				<mark>{{ current_user.username }}</mark>
			</p>
			<p><b>Password:</b> [your password]</p>
		</article>
	</main>
{% endblock %}
