{% extends "_base.html" %}
{% block title %}Places{% endblock %}
{% block body %}
    <main class="container">
        <header><h4>Confirm place deletion</h4></header>

        <p>Are you sure you want to delete this place? This will disassociate all visits from it.</p>

        <p><b>{{ place.name }}</b></p>

        <form action="" method="POST">
            <label>
                Move visits to
                <select name="merge">
                    <option value="0">Delete visits</option>
                    <optgroup label="My places">
                        {% for place in my_places %}
                            <option value="{{ place.id }}">{{ place.name }}</option>
                        {% endfor %}
                    </optgroup>
                    <optgroup label="Shared places">
                        {% for place in shared_places %}
                            <option value="{{ place.id }}">{{ place.name }}</option>
                        {% endfor %}
                    </optgroup>
                </select>
            </label>

            <div class="row">
                <div class="col-md-6">
                    <a href="{{ url_for('.details', place_id=place.id) }}" role="button"
                       class="outline secondary d-block">Cancel</a>
                </div>
                <div class="col-md-6">
                    <button type="submit" class="d-block">Delete</button>
                </div>
            </div>
        </form>
    </main>
{% endblock %}
