{% extends "_base.html" %}
{% block title %}Places{% endblock %}
{% block body %}
    <main class="container">
        <article>
            <header>Place details</header>

            <form action="" method="POST">
                <label>
                    Name
                    <input name="name" type="text" value="{{ place.name or '' }}" autocomplete="off" required>
                </label>

                <label>
                    Address
                    <textarea name="address" autocomplete="off">{{ place.address or '' }}</textarea>
                </label>

                <label>
                    <input type="checkbox" name="shared" role="switch" {% if place.shared %}checked{% endif %}>
                    Share with all users
                </label>
                <br>

                <div class="row">
                    <div class="col-md-6">
                        <button type="submit">Save</button>
                    </div>
                    <div class="col-md-6">
                        <a href="{{ url_for('.confirm_delete', place_id=place.id) }}" role="button"
                           class="outline secondary d-block">Delete</a>
                    </div>
                </div>
            </form>
        </article>

        <article>
            <header>My visits</header>

            <table>
                <thead>
                <tr>
                    <th scope="col">Arrived</th>
                    <th scope="col">Departed</th>
                    <th scope="col">Source</th>
                </tr>
                </thead>
                <tbody>
                {% for visit in place.my_visits %}
                    <tr>
                        <td>{{ visit.timestamp }}</td>
                        <td>{{ visit.end_timestamp }}</td>
                        <td>{{ visit.source }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </article>
    </main>
{% endblock %}
