{% extends "_base.html" %}
{% block title %}Places{% endblock %}
{% block body %}
    <main class="container">
        <article>
            <header>My places</header>

            <table>
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">My visits</th>
                </tr>
                </thead>
                <tbody>
                {% for place in my_places %}
                    <tr>
                        <td>
                            <a href="{{ url_for('.details', place_id=place.id) }}">
                                {{ place.name }}
                            </a>
                        </td>
                        <td>{{ place.address or "" }}</td>
                        <td>{{ "{:,}".format(place.my_visits.count()) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </article>

        <article>
            <header>Shared places</header>

            <table>
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">My visits</th>
                    <th scope="col">Owner</th>
                </tr>
                </thead>
                <tbody>
                {% for place in shared_places %}
                    <tr>
                        <td>
                            <a href="{{ url_for('.details', place_id=place.id) }}">
                                {{ place.name }}
                            </a>
                        </td>
                        <td>{{ place.address or "" }}</td>
                        <td>{{ "{:,}".format(place.my_visits.count()) }}</td>
                        <td>{{ place.user.username }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </article>
    </main>
{% endblock %}
